{#练习录入#}
{%load staticfiles%}
<link href="{% static 'cpis/css/lxlr.css' %}" rel="stylesheet" type="text/css"/>

<form action="{%url 'cpis:createexercise'%}" method="POST" target="_blank" >
{% csrf_token %}	
<div class="row">
	<div class="col-xs-3">
			<label for="form-field-select-1">练习分类</label>
			<select required="required" name="lxfl" class="form-control" id="form-field-select-1">
			<option value="">&nbsp;</option>
			{%if course%}
			{%for item in course%}
	   		<option value="{{item.id}}">{{item.cname}}</option>
			{%endfor%}
			{%endif%}								
			</select>
	 </div>
	 <div class="col-xs-3">
		 <label for="form-field-12">练习名称</label>
		  <input name="lxmc" required="required" class="form-control zhangjie" placeholder="例如：第一章" id="zhangjie"></input>	
	 </div>
	 <div class="col-xs-3">
	 	<div class="row">
		<button type="submit" class="btn btn-lg btn-success" value="submit">
		<i class="icon-ok"></i>创建练习
		</button>
	  </div>
    </div>
	 
</div>

</form>

<script type="text/javascript">
	jQuery(function($){
		
	});
</script>
